body
{

}

#header
{
	width: 100%;
	min-height: 500px;
	background: url('images/head.jpg');
	box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.3);
}

.header-in
{
	background: rgba(0,0,0,0.8);
	color: #fff;
	box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.3);
	padding: 20px 0;
}
.header-h
{
	min-height: 200px;
}

div.clear
{
	clear: both;
}

.nav
{
	list-style-type: none;
	margin: 0;
}
.nav li
{
	display: inline-block;
	float: right;
}
.nav a
{
	color: #ccc;
	font-weight: bold;
	line-height: 40px;
	padding: 0 10px;
}
.nav a:hover
{
	color: #fff;
}

.footer
{
	color: #999;
	border-top: 1px solid #ddd;
	width: 100%;
	text-align: center;
	padding: 10px 0;
}